.boxa{
	width: auto;
	height: auto;
	background: #7FFFD4;
	text-align: center;
	padding: 15px;
}
.box{
	margin: 0 auto;
	width: auto;
	height: auto;
	background: ;
	text-align: center;
	padding: 2px;
}

.box1{

	width: auto;
	height: auto;
	background: #00FFFF;
	text-align: center;
	padding: 15px;

}

.box2{

	width: auto;
	height: auto;
	background: #7FFFD4;
	text-align: center;
	padding: 15px;
}

.box3{

	width: auto;
	height: auto;
	background: #FAEBD7;
	text-align: center;
	padding: 15px;
}

.box4{

	width: auto;
	height: auto;
	background: #FFE4C4;
	text-align: center;
	padding: 15px;
}

.gallery{
	margin:0 auto;
	border:1px solid #000;
	float: left;
	width: 100%;
}

.gallery img{
	width: 30%;
	height: 30%;
}